.nav {
    margin: 0 20px;
}

.nav-list {
    display: flex;
    width: 600px;
    color: #fff;
}

.nav-list li {
    flex: 1;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
}

.current {
    /* color: rgb(241, 112, 125); */
}