@import '//at.alicdn.com/t/font_2798872_ft65u0qy0o.css';

.play-t{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.play-title{
    font-size: 20px;
}

.play-t .more{
    font-size: 12px;
    cursor: pointer;
}

.play-t .more:hover{
    color: rgb(9, 109, 217);
}

.play-t .more .icon-gengduo{
    font-size: 12px;
}

.play-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.play-item{
    width: 170px;
    margin-bottom:20px;
}

.play-item a{
    width: 100%;
    display: block;
}

.play-item img{
    width: 100%;
    height: 100%;
}