@import '//at.alicdn.com/t/font_2798872_ft65u0qy0o.css';

.peripheral-t{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.peripheral-title{
    font-size: 20px;
}

.peripheral-t .more{
    font-size: 12px;
}

.peripheral-t .icon-gengduo{
    font-size: 12px;
}