.ip {
    margin: 20px auto;
}

.news-title {
    position: relative;
    font-size: 20px;
    padding-top: 20px;
}

.news-title .more{
    position: absolute;
    font-size: 14px;
    top: 24px;
    right: 0;
    cursor: pointer;
    color: #999;
}

.news-title .more::after{
    content: ">";
    padding-left: 4px;
}

.news-title .more:hover{
    color: rgb(241, 112, 125);
}