.cartoon-footer {
    height: 230px;
    background: #f6f9fa;
    box-sizing: border-box;
    margin-top: 40px;
    padding: 40px 0;
}

.footer-wrap{
   width: 990px;
   margin: 0 auto;
   font-size: 14px;
   color: #666;
   display: flex;
   justify-content: space-between;
}

.footer-wrap p{
    line-height: 28px;
}
